<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafia Random Role Selector</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .app {
            padding: 50px !important;
        }

        .crossed {
            text-decoration: line-through;
        }

        .button-small {
            font-size: .8rem;
            height: 2.3rem;
            line-height: 2.3rem;
            padding: 0 1.5rem;
            float: left;
            margin-top: 1px;
            margin-right: 10px;
        }

        .button-red {
            border-color: red !important;
            color: red !important;
        }
        .statistics span {
            margin-right: 10px;
            width: 150px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div id="app" class="app">
        <h1>Mafia Random Role Selector</h1>
        <hr>
        <div class="statistics">
            <span>Total = <b>{{roles.length}}</b></span><span>Remaining = <b>{{roles.length - players.length}}</b></span>
            <br>
            <span v-for="role in roles_count">
                {{role.name}} = <b>{{role.count}}</b>
            </span>
        </div>
        <hr>
        <label for="role">Roles</label>
        <select id="role" v-model="new_role">
            <option disabled value="">Please select one</option>
            <option v-for="(role, index) in default_roles">{{role}}</option>
        </select>
        <button @click="addRole()">Add new role</button>
        <ol>
            <li v-for="(role, index) in roles">
                <button class="button button-outline button-small button-red" @click="removeRole(index)">x</button>
                <span :class="role.player > -1 ? 'crossed' : ''">
                    {{role.name}}
                </span>
            </li>
        </ol>
        <hr>
        <label for="player">Players</label>
        <input id="player" placeholder="Type player's name and hit Enter" type="text" v-model="new_player"
            @keyup.enter="addPlayer()">
        <button @click="addPlayer()">Add new player</button>
        <ol>
            <li v-for="(player, index) in players">
                <button class="button button-outline button-small button-red" @click="removePlayer(index)">x</button>
                {{player.name}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{roles[player.role].name}}
            </li>
        </ol>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                new_player: '',
                new_role: '',
                players: [],
                roles: [],
                default_roles: ['Godfather', 'Mafia', 'Doctor', 'Detective', 'Armoured', 'Sniper', 'Citizen']
            },
            computed: {
                roles_count: function () {
                    const list = []
                    this.default_roles.map(x => list.push({ name: x, count: 0 }));
                    this.roles.map(x => {
                        list.map(y => {
                            if (x.name == y.name) {
                                y.count += 1;
                            };
                        });
                    })
                    return list;
                }
            },
            methods: {
                addPlayer: function () {
                    if (this.new_player.length > 0) {
                        if (this.roles.length > 0) {
                            const new_roles = this.roles.filter(x => x.player == -1);
                            if (new_roles.length > 0) {
                                rndIndex = this.rndBetween(0, new_roles.length);
                                const player = { name: this.new_player, role: rndIndex };
                                new_roles[rndIndex].player = this.players.length;
                                this.players.push(player);
                                this.new_player = '';
                            } else {
                                alert("All roles has been assigned to players.");
                            }
                        } else {
                            alert("Roles are empty.");
                        }
                    } else {
                        alert("Player's name is empty.");
                    }
                },
                addRole: function () {
                    const new_role = { name: this.new_role, player: -1 };
                    this.roles.push(new_role);
                },
                removeRole: function (index) {
                    const player = this.roles[index].player;
                    this.roles.splice(index, 1);
                    if (player > -1) {
                        this.players = this.players.filter(x => x.role !== index);
                    }
                },
                removePlayer: function (index) {
                    this.players.splice(index, 1);
                    this.roles.map(x => {
                        if (x.player === index) {
                            x.player = -1;
                        };
                    });
                },
                rndBetween: function (min, max) {
                    return Math.floor(Math.random() * max) + min;
                }
            },
        })
    </script>
</body>

</html>
